#cook-title
  .recipe-title
    - if !recipe.source_link.blank? && recipe.source_link.downcase.include?('macheesmo')
      = link_to(recipe.name, recipe.source_link, :target => '_blank')
    - else
      = recipe.name
    %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fdiscover/recipe/#{recipe.id}/#{recipe.name}&send=false&layout=button_count&width=450&show_faces=false&action=recommend&colorscheme=light&font&height=21", :style => "border:none; overflow:hidden; width:450px; height:21px;"}
    = link_to "", "javascript:void(0);", :class => "auth_provider", :current_recipe_id => recipe.id

  - unless recipe.source.blank?
    #recipe-source
      By:
      - unless recipe.source_link.blank?
        = link_to(recipe.source, recipe.source_link, :target => '_blank')
      - else
        = recipe.source
- unless recipe.blank?
  - if current_user.role == 'super_admin'
    #cook-recipe-edit
      = button_to("Edit", {:controller => "recipes", :action => "edit", :id => recipe.id}, |
        :method => :get, :class => "green-button")                                         |
  - if controller.controller_name == 'discover'
    - display = discover_big ? 'display:table-cell' : 'display:none'
    .discover-recipe-cook{'style' => display}
      = button_to("Cook this now >>", {:controller => "discover", :action => "cook_now", :recipe_id => recipe.id},
      :method => :post, :class => "gray-button")
  - else
    #cook-done-cooking
      = button_to("I Cooked This.", {:controller => "cook", :action => "done_cooking", :recipe_id => recipe.id},                                                |
        :confirm => "Great job for cooking!  You earned 10 points for cooking a meal. We also added this meal to your VPG (Vegetable-Protein-Grain ratio) under the Track page.", |
        :class => "gray-button")                                                                                                                                     |
.clear_both