<%= render :partial => 'recipe_title', :locals => {:recipe => @recipe}%><br />

<div id="recipe-info" class="gray-background">
<table>
  <% unless @recipe.servings.blank? || @recipe.servings == 0 %>
  <tr>
    <td>
      <b>Servings: </b></td> <td><%= text_field_tag(:default_servings, @default_servings, 
        :id => "recipe-servings-input", "recipe-id" => @recipe.id, :size => 5) %>
    </td>
  </tr>
  <% end %>
  <% unless @recipe.preptime.blank? %>
  <tr>
    <td><b>Prep time: </b></td> <td><%= @recipe.preptime %> mins</td>
  </tr>
  <% end %>
  <% unless @recipe.cooktime.blank? %>
  <tr>
    <td><b>Cook time: </b></td> <td><%= @recipe.preptime %> mins</td>
  </tr>
  <% end %>
</table>  
</div>

<div id="recipe-intro">
  <% unless @recipe.intro.blank? %>
    <%= @recipe.intro %><br />
  <% end %>
</div>

<br />

<div id="recipe-ingredients-detailed" class="gray-background">
  <b>Ingredients</b><br />
  <div id="recipe-ingredient-list">
    <%= render :partial => 'recipe_ingredient_list', :locals => {:ingredient_list => @recipe.ingredient_list} %>
  </div>
</div>

<div id="recipe-spacer">&nbsp;</div>

<div id="recipe-prep-and-cook-steps" class="gray-background">
  <% unless @recipe.prepsteps_list.blank? %>
    <p>
      <b>Prep Instructions</b><br />
      <% @recipe.prepsteps_list.each do |prep_line| %>
      <%= sanitize(prep_line) %><br />
      <% end %>
    </p>
  <% end %>

  <p>
    <b>Cook Instructions</b><br />
    <% @recipe.cooksteps_list.each do |cook_line| %>
    <%= sanitize(cook_line) %><br />
    <% end %>
  </p>
</div>   

<script type="text/javascript">
  /** update servings if either enter pressed or focus is lost **/
  $("#recipe-servings-input").keypress(function(e) {
    if (e.keyCode == 13) { updateServings(); }
  });
  $("#recipe-servings-input").blur(function() { updateServings(); });
  
  /* Only update if value is different. This will prevent double update when enter is pressed and then focus lost */
  var lastValue = 0
  function updateServings() {
    var $this = $("#recipe-servings-input");
    if (lastValue != $this.val()) {
      lastValue = $this.val();
      $.post("/recipes/update_servings", "new_servings=" + $this.val() + "&recipe_id=" + $this.attr("recipe-id"),
      function(data){
        $('#recipe-ingredient-list').html(data);
      })
    }
  }
</script> 

