<% @background_recipe = Recipe.random_background_image %>

<div id="session-reset-password" class='gray-background'>
  <h1>Reset your password</h1>
  <% unless flash[:error].nil? %>
    <p><span id='flash-error'><%= flash[:error] %></span></p>
  <% end %>
  <%= error_messages_for @user %>
  <p>For: <%= @user.email %></p>

  <%= form_tag('/users/reset_password') do |f| %>
    <input type='hidden' name='token' value='<%= @token %>' />
    <p>
    <%= label :user, :password %><br />
    <%= password_field :user, :password, :size => 30 %>
    </p>
    <p>
    <%= label :user, :password_confirmation %><br />
    <%= password_field :user, :password_confirmation, :size => 30 %>
    </p>
    <%= submit_tag "Reset Password and Log in", :class => "gray-button" %>
    
  <% end %>
</div>
