
<div class="hide-form" style="display:none">
  <div id="item-edit-form" title="Edit Pantry Item">
    <%= form_tag("/shop/update_item", :method => "post", :name => "update_item") do %>
  		<input type="hidden" id="edit-id" name="item[id]" value="" />
  		<p>
  		<label for="item[name]"><b>Item Name:</b></label><br />
  		<input type="string" name="item[name]" id="edit-name" class="text ui-widget-content ui-corner-all" value="" />
  		</p>
  		<p>
  		<label for="item[note]"><b>Note:</b></label><br />
  		<input type="text" name="item[note]" id="edit-note" class="text ui-widget-content ui-corner-all" value="" />
  		</p>
  		<p>
  		<label for="item[note]"><b>Amount:</b></label><br />
  		<input type="text" name="item[weight]" id="edit-weight" class="text ui-widget-content ui-corner-all" value="" />
  		</p>
  		<p>
  		<label for="item[unit]"><b>Units:</b></label><br />
  		<select id="edit-unit" class="text ui-widget-content ui-corner-all" name="item[unit]">
  		  <option>cup</option>
        <option>tbs</option>
        <option>tsp</option>
  		  <option>lb</option>
  		  <option>oz</option>
  		  <option>g</option>
  		  <option>whole</option>
      </select>
  		</p>
    	<p>	
     	  <input value="Save" type="submit" class="gray-button" />
  	    <input value="Delete" type="button", name="delete-button", id="delete-button" />
      </p>
    <% end %>
  </div>
</div>

<!-- the tooltip -->
<span class="tooltip">&nbsp;</span>

<% unless mobile_request? %>
  <%= render_cell :meals, :meals_list, current_user, show_plus = true, show_servings = true %>
<% end %>  

<div id="shop-column">
  <div id="shop-list">
    <%= render_cell :shop, :shop_list, current_user, mobile_request? %>
  </div>
</div>

<div id="shop-controls">
  <div id="shop-controls-box">
    <h2>Let's Go Shopping!</h2>
    <p>View your "My Meals" list here.  Then, fill your shopping list quickly by clicking on the <img src="/images/icons/pantry_has.png"> in your "My Meals" list.  We will automatically exclude items on your <a href="/settings">exclude items list</a> so you won't see items like salt and pepper every time you create your list.  Then, go to m.realmealz.com on your mobile phone to see and manage your shopping list while you shop!    </p>
    
    <div id="shop-add-item">
      <%= form_tag("/shop/add_item", :method => "post", :name => "add_item") do %>
        <input name="item[needed]" value="true" type="hidden" />
        <%= autocomplete_field_tag('item[name]', '', '/shop/autocomplete_ingredient_name', :size => 20) %>
    	  <input value="Add Item" type="submit" class="gray-button" />
      <% end %>
    </div>
    
    <div id="shop-done">
      <%= button_to_function("Done shopping", "shoppingDone();", :class => "gray-button") %>
    </div>
    
    <div id="shop-clear-items">
      <%= button_to_function("Clear all items", "shopListClear();", :class => "gray-button") %>
    </div>
    <p>&nbsp;</p> <!-- needed on Chrome so shop-controls-box extends past buttons -->
  </div>
</div>

<% unless true || mobile_request? %>
  <div id="pick-column">
    <div id="shop-add-item">
      <%= form_tag("/shop/add_item", :method => "post", :name => "add_item") do %>
        <%= autocomplete_field_tag('item[name]', '', '/shop/autocomplete_ingredient_name', :size => 20) %>
    	  <input value="Add Pantry Item" type="submit" class="gray-button" />
      <% end %>
    </div>
    
    <div id="pick-list">
      <%= render_cell :shop, :pick_list, current_user, 
      pick_image_on = "/images/icons/grocery_list_on.png", 
      pick_image_off = "/images/icons/grocery_list_off.png", 
      mobile_request? %>
    </div>
  </div>
<% end %>

<%# --------Javascript-------- %>
<script type="text/javascript">

/* setup scroll on shopping list */
setup_scroll('#shop-list');

/* setup sortable */
function setupSortableShopList() {
  setup_sortable('#sortable-list', '<%= @action_shop ? "shop_order" : "pantry_order" %>');
  $('#sortable-list').sortable('option', 'axis', 'y');
  $('#sortable-list').sortable('option', 'handle', 'img.drag-icon');
  $('#sortable-list').sortable('option', 'revert', false);
  $('#sortable-list').sortable('option', 'distance', 0);
}
setupSortableShopList();

/* Edit dialog: setup */
$("#item-edit-form").dialog({
	autoOpen: false,
	modal: true,
	close: function() {
	}
});

/** Edit dialog: remove from shopping list **/
$("#delete-button").click(function() {
  var itemId = $("#edit-id").attr("value");
  $("#item-edit-form").dialog("close");
  $.ajax({		  
	  type: "post",
		url: "/shop/remove_from_shopping_list",
		data: "id=" + itemId
	});
	li_item_remove("#" + itemId, "fast", "#shop-list");
});	


/* Show info as tooltip */
$(".shop-name:[title]").tooltip({
	tip: '.tooltip',
	effect: 'fade',
	fadeOutSpeed: 100,
	predelay: 100,
	position: "center right",
	offset: [0, 0]
}).css('cursor','help');
	
/* Shop List: Toggle needed */
$("#shop-list").delegate("#shop-list .cart", "click", function() {
  if ($(this).hasClass("cart-selected")) { 
    $(this).removeClass("cart-selected");
    $(this).attr("src", "/images/icons/cart_off.png");
  } 
  else { 
    $(this).addClass("cart-selected"); 
    $(this).attr("src", "/images/icons/cart_on.png");
  };
	$.ajax({		  
	  type: "post",
		url: "/shop/update",
		data: "id=" + $(this).attr('item_id') + "&value=" + $(this).hasClass("cart-selected") + "&shop=true"
	});    
});

/* Shop List: fill and open edit dialog */
$("#shop-list").delegate(".edit-icon", "click", function() {
		var itemId = $(this).attr("item_id");
		var itemName = $(this).attr("item-name");
		var itemNote = $(this).attr("item-note");
		var itemWeight = $(this).attr("item-weight");
		var itemUnit = $(this).attr("item-unit");
		$("#edit-id").attr("value", itemId);
		$("#edit-name").attr("value", itemName);
		$("#edit-note").attr("value", itemNote);
		$("#edit-weight").attr("value", itemWeight);
		$('#edit-unit').find('option:contains("' + itemUnit + '")').attr('selected', 'selected');
		$( "#item-edit-form" ).dialog( "open" );
    return false;
});

/** Meals: add recipe ingredients **/
$("#my-meals-list").delegate(".my-meals-add-ingredients", "click", function() {
  $.post('/shop/add_recipe_ingredients', 'recipe_id=' + $(this).attr('recipe-id'),
  function(data) {
    updateShopList(data);
  });
});

/** update default servings  **/
$("#shop-servings-input").blur(function() {
  $.post("/shop/update_default_servings", "kitchen[default_servings]=" + $(this).val());
});

/** clear the shopping list **/
function shopListClear(){
  if(confirm("Remove all items from the shopping cart?")) {
    $.post("/shop/clear_shopping_list", 
      function(data) {
        updateShopList(data);
      }
    );
  }
};

/** Take out all bought items in shopping list **/
function shoppingDone(){
  if(confirm("Remove all bought items from the shopping cart?")) {
    $.post("/shop/done_shopping", 
      function(data) {
        updateShopList(data);
      }
    );
  }
};

/** update the shopping list **/
function updateShopList(data) {
  $('#shop-list .overview').html(data);
  $('#shop-list').tinyscrollbar_update();
  setupSortableShopList();
};

</script>

