<% @show_footer = true %>

<div class="gray-background">
	<div class="gray-background">

	<h1>About Us</h1> 
	<p> 
		Are you too busy to plan dinner?  We are too.  That's why we built RealMealz to quickly discover 30 minute meals using ingredients we already bought.  This way, we eat real food that is cooked fresh, and the food we bought doesn't go to waste.  Sometimes, the food pictures inspire us to plan ahead a few meals too.  <a href="/discover">Discover</a> for yourself how RealMealz can help you cook more and eat better.  It certainly helped us and our families do the same.  <a href="/home/sign_up">Sign up</a> to track what you cook and get inspired with semi-weekly Dinner Inspirations in your Inbox.  We source recipes from food bloggers, cooking classes and individuals who share our food philosophy: <b>Plant-based Meals using Whole Ingredients.</b> We mainly focus on main dish recipes that take less than 30 minutes to complete.  
		
		Need a little motivation or social pressure to get started in the kitchen? We work with employers and health plans to create team-based challenges.  Want to see if your employer or health plan will sponsor a prize for your group?  Fill out this <a href ="/home/sponsor?"> form </a>and we'll ask them for you!
		
	<br><br>
	<div class="about-us-divider">How are we different from Epicurious and cooks.com?	</div>
		<ol>
  		<li>We streamline for everyday homecooking. We focus on main-dish recipes made in 30 minutes or less.  No fuss. Just fast, tasty and homemade.  </li>
  		<li>New(-ish) to the kitchen? Don't worry. You don't need to know all the catch phrases and dish names and type them in for a recipe search. We inspire your appetite rather than make you search: you don't have to know what you want.  Tell us what's in your fridge and we'll give you some ideas with some beautiful food photos.   </li>
  		<li>Want a personal kitchen assistant that remembers your diet needs? That's us. We filter according to your preferences.  Tell us what you are avoiding (allergy, ethical or personal reasons are all valid) and you won't see a recipe you can't eat. </li>
		</ol>
<br><div class="about-us-divider">Who are we?</div>
	<p>
	<table class="table-about-us">
		<tr>
			<td><img class="about-us-pics" src="<%= asset_path 'connie_pic.png' %>"></td>
			<td><b><a name="connie"></a>Connie Kwan, Chief Eating Officer + Recipe Contributor</b>
				<br>
				A good meal always lifts my spirits.  And eating well fuels my body to do everything else: such as building a career in Product Management, earning an MBA and building RealMealz.  I enjoy cooking, but I get tired of making my usuals and don't have time to search for new recipes.  Most days I can't spare more than 30 minutes to cook. That's why RealMealz was born to 1) use up my ingredients in delicious ways, and 2) keep my meals organized so I can focus on the rest of my life.  I believe that with a little help, people will discover the ease and benefits of homemade over fast and frozen foods. So I have assembled a passionate team to create the knowledge and tools to let everyone enjoy the bounty of our lands, one homemade meal at a time.<br><br></td>
		</tr>
		<tr>
			<td><img class="about-us-pics" src="<%= asset_path 'max_dunn2.png' %>"></td>
			<td style="vertical-align: top;"><b><a name="max"></a>Max Dunn, Chief Techno-foodie</b>
				<br>
				My friends call me a serial entrepreneur since I'm always building a software startup (this will be my fourth).  As such, I almost never have time to cook a good meal. I "plan" when I'm already hungry and want to eat moments after I step into the kitchen.  
				It's always a challenge to find something interesting to cook in that moment, especially since my family is gluten free.  I could just stop building software startups so that I'll have time to cook, but what's the fun in that?  
				Instead, I'm building RealMealz so that all the busy people out there like me will be able to eat healthier and tastier home cooked food without resorting to repeating the same dishes over and over again.<br><br>
			</td>
		</tr>
		<tr>
			<td><img class="about-us-pics" src="<%= asset_path 'nathaniel.jpg' %>"></td>
			<td style="vertical-align: top;"><b><a name="nathaniel"></a>Nathaniel Wolf, Sous Techno-foodie</b>
				<br>
				I am a foodie by association. Before I met my fiancée Kim, I considered burrito with sour cream a fancy meal. Thanks to her, I have learned to appreciate the finer things things of the edible world.  We just returned from several years of traveling in developing countries where we were exposed to a simpler way of living. The experience inspired us to make almost all our food at home now. Whether it is freshly baked bread, homemade granola, or even an ugly Kombucha mother fermenting on our counter, there is always something new happening in the kitchen. RealMealz has given me an opportunity to put my programming skills towards something I truly believe in, and help others discover there is more to life than just burritos...even with sour cream.</td>
		</tr>
	</table>
	<br><div class="about-us-divider">Where are our Recipes from?</div>
	<p> We source recipes from food bloggers, cooking classes and individuals who share our food philosophy: <b>Plant-based Meals using Whole Ingredients.</b> We source main dish recipes that take less than 30 minutes to complete. Once in a while you may see a recipe that takes up to 45 minutes if it includes waiting time. Read about our contributors here: </p>
	<table class="table-about-us">
		<tr>
			<td><a href="http://www.macheesmo.com" target=_blank><img class="about-us-pics" src="<%= asset_path 'macheesmo.png' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="macheesmo"></a>Nick @ Macheesmo, "You don't need a culinary degree to cook a great meal at home." </b>
				<br>
				My name is Nick and I write and manage Macheesmo. I’m 28 and I have a “normal” day job. When I’m not working, I love to cook and love everything food related. I’ve worked in a few restaurants throughout my life, but I have no formal training. That said, I experiment with all types of cooking and love trying new stuff. <i>What is Macheesmo?</i> Macheesmo is a phrase I came up with that simply means having confidence in the kitchen. Luckily for you, Macheesmo is something that can be learned.<br><br>
			</td>
		</tr>
		<tr>
			<td><a href="http://www.basicallyvegan.com" target=_blank><img class="about-us-pics" src="<%= asset_path 'basically_vegan_sm.jpg' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="Basically Vegan"></a>Shirley @ Basically Vegan,  "Be proactive with your health with so much <i> more</i> than just broccoli."</b>
				<br>
				Cancer runs in my family. A few years ago I came across The China Study by T. Colin Campbell. According to his lifetime research as a nutrition scientist and co-founder of the famous Cleveland Heart Clinic, Dr. Campbell found that a diet with as little as 13% animal protein could produce cancerous tumors, while a reduction to 10% animal protein prevented tumor formation and began shrinking existing tumors!  I could no longer eat meat and dairy with a clear conscience.  Nor could I continue to prepare animal-protein based meals for those I loved.
But what was I going to eat?  What was I going to prepare for dinner?  Traditionally, I designed the dinner plate into fourths:  meat, starch, veggies and salad. The latter three were fine but what was going into that empty fourth section once meat was removed?

My love of cooking, my love of fresh ingredients, and my familiarity with so many cuisines equipped me to tackle the challenge of combining a plant-based diet with the same culinary variety, excellence, flavor, and presentation my family had always enjoyed.  If you want to be proactive with your health and the health of those you love, then so much more than just broccoli is waiting for you! 
			</td>
		</tr>
		<tr>
			<td><a href="http://www.operagirlcooks.com" target=_blank><img class="about-us-pics" src="<%= asset_path 'operagirlcooks_sm.jpg' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="operagirlcooks"></a>Opera Girl Cooks, "I make pretty, nutritious, and tasty food." </b>
				<br>
				My philosophy about food has changed quite a bit over the years, and is ever-evolving. Above all, I am interested in making pretty, nutritious, and tasty food from the healthiest ingredients available. My palette of ingredients includes fruits and vegetables,  grains, nuts and seeds, natural sweeteners, as well as the occasional serving of dairy, meat, or fish. Who knows, maybe you’ll see something that inspires you to get in the kitchen and make yourself a delicious meal. Happy cooking!
			</td>
		</tr>
		<tr>
			<td><a href="http://cookfoodmostlyplants.blogspot.com/" target=_blank><img class="about-us-pics" src="<%= asset_path 'cookfoodmostlyplants_sm.jpg' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="cookfoodmostlyplants"></a>Alison @ Cook Food Mostly Plants, "Forgo substitutes, eat the real, whole, food."</b>
				<br>
				A few weeks ago, while reading Michael Pollan's In Defense of Food, I started perusing the ingredient lists on the back of the various food products that live in our kitchen. Honey Nut Cheerios (healthy, right?):  corn syrup solids, tripotassium phosphate, guar gum, and assorted other non-oat-or-nut-related ingredients......
The food in my food suddenly seemed disturbingly un-foody.

So I unpacked the cupboard full of pita chips and Cheerios, canned soup,egg substitute and fifty-ingredient bread... They are being replaced, slowly but surely, with whole foods and with mostly plants: quinoa, wild rice, black beans, Bhutanese red rice, lentils, split peas, chickpeas, leafy greens, rainbow carrots, potatoes, actual eggs, peaches, melons, figs, nuts, bread with pronounceable ingredients.

The only problem is, now I have to figure out how to cook all this stuff.
			</td>
		</tr>
		<tr>
			<td><a href="http://wgfoodie.wordpress.com/" target=_blank><img class="about-us-pics" src="<%= asset_path 'whole_grain_foodie_sm.jpg' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="Whole Grain Foodie"></a>Whole Grain Foodie,  "Challenge the misconception that healthy food is bland and boring."</b>
				<br>
				Given the opportunity I would certainly not pass up traditional culinary training in the burbs of Italy or France, but I cook purely for pleasure and to promote well-being. I am incredibly passionate about what I do and cook to challenge the misconception that healthy food is bland and boring. I keep whole grains + whole foods at the core of my cooking and enjoy combining unexpected ingredients that give each meal a healthy kick. I am a huge advocate of local + organic ingredients of which I incorporate in each of my dishes. I might share recipes that are not 100% whole grain friendly because I believe in eating all types of food in moderation. I aim to enlighten you to create your own lifestyle based on this concept.  
			</td>
		</tr>
		<tr>
			<td><a href="http://newfoundryventures.org/our-projects/community-food-ventures/" target=_blank><img class="about-us-pics" src="<%= asset_path 'getcookinglogo.jpg' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="Get Cooking"></a>Get Cooking! Community, "Have a quick, healthy dinner in minutes." </b>
				<br>
				Get Cooking! is a social enterprise dedicated to helping low-income families living in food deserts make healthy eating simple, affordable, and fun which will ultimately lead to lower rates of obesity, diet-related diseases, and improved well-being. Get Cooking! is currently being piloted in the West Oakland community in collaboration with our community partners Lifelong Medical Care and People's Grocery.
			</td>
		</tr>		
		<tr>
			<td><a href="http://immadhungry.tumblr.com/" target="_blank"><img class="about-us-pics" src="<%= asset_path 'andrea.png' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="andrea"></a>Andrea @ I'm Mad Hungry, "I LOVE food"</b>
				<br>
				 I blog about what I cook and where I eat.  I LOVE food. I'm always looking for new recipes, reading cookbooks, watching Gordon Ramsay's TV shows, watching all types of cooking tutorials on youtube, and spending loads of time at the grocery store. I live with my brother and a kitten (Meatball) in Toronto.  Going into 4th year of Graphic Design at OCADU.<br><br>
			</td>
		</tr>			
		<tr>
			<td><img class="about-us-pics" src="<%= asset_path 'joshua.jpg' %>"></td>
			<td style="vertical-align: top;"><b><a name="joshua"></a>Joshua Eisenberg, "A few simple tricks from commercial kitchens and you too will put dinner on the table in 30 minutes flat."</b>
				<br>
				I've worked for over 15 years in commercial kitchens, helping companies like Bon Appetit and Hyatt Hotels develop menus that are cost effective, fast enough to deal with the lunch rush, and both healthy and tasty.  
				Ever wonder how you can order at a restaurant and get your food in under 10 minutes while it takes you an hour to cook at home?  Are the cooks in a commercial kitchen somehow moving at 
				super speed, a wok in each hand while chopping with their foot? Of course not. I've taught hundreds of normal people, just like you to cook in a commercial setting, and there's no reason 
				that you can't cook like that too.  I love to cook, and I want everyone to learn that with a little training, advanced preparation, and a few tools that RealMealz provides, you can cook 
				simple, healthy, and tasty meals in under 30 minutes. <br><br>
			</td>
		</tr>
		
		<tr>
			<td><img class="about-us-pics" src="<%= asset_path 'alice.jpg' %>"></a></td>
			<td style="vertical-align: top;"><b><a name="alice"></a>Alice Chan, "Don't be afraid to experiment. Food is Fun!"</b>
				<br>
				 I have been cooking for 35 years and been testing recipes on my very well fed husband and daughter.  My first kitchen was my own and not my mom's.  I did not enter the kitchen until I was well over 18.  So I learned everything on my own and through some cooking classes I attended early on.  It is all about experimentation and the courage to try, plus a forgiving family to eat your concoctions.  But don't be discouraged, get feedback, and keep trying.  Because eating well keeps the family healthy, and a healthy family is worth all the time spent in the kitchen.  Besides, you can always recruit your kids to be your sous chefs and turn the experience into family time.<br><br>
			</td>
		</tr>		
	</table>
	<p>
		
		Why do you cook at home?  <a href="http://www.facebook.com/pages/RealMealz/201672796524488" target="_blank">Tell us your cooking story and post a picture of you in your kitchen! </a> 
		We love to hear from our users!
	</p>
	</div>
</div> 
