<% @show_footer = true %>

<div id="home-signup-padding">
  <div id="home-signup" class="gray-background">
  	<h1>Sign up</h1>
  	
  	<%= form_for(@user, :url => '/home/create_user') do |f| %>
    	<%= f.error_messages %>
  	
  	  <div id="temp_hide_invite_code" style="display: none">
        <p><%= label_tag 'user[invite_code]', 'Enter your invite code', :id => 'home-signup-invite-text' %><br />
        <%= f.text_field :invite_code, :size => 50, :id => 'home-signup-invite' %></p>
        
        <div id='home-signup-need-code'>
        <%= link_to '(Need a code?)', 'http://signup.realmealz.com/' %>
        </div>
        
        <%# If teams for this group, dynamically create the list here %>
        <div id='home-signup-group' style='display: block'>
        </div>
      </div> <!--- invite code --->  
      
      <div id='home-signup-info' style='display: block'><%# MD Apr-2012 set back to "none" to enable signup code%>
        <p><%= f.label :first %><br />
    	  <%= f.text_field :first %></p>
    	
    	  <p><%= f.label :last  %><br />
    	  <%= f.text_field :last %></p>
    	
    	  <p><%= f.label :email %><br />
    	  <%= f.email_field :email %></p>
    	
    	  <p><%= f.label :password %><br />
    	  <%= f.password_field :password %></p>
    	
    	  <p><%= f.label :password_confirmation %><br />
    	  <%= f.password_field :password_confirmation %></p>
    	
    	  <p>
    	    <input value="Sign up" type="submit" class="gray-button" />
        </p>
      </div>
  	<% end %>
	</div>
</div>

<script type="text/javascript">

function enableControls() {
  $('#home-signup-invite-text').text('Invite code valid - thank you');
  $('#home-signup-invite').prop('readonly', true);
  $('#home-signup-need-code').hide();
  $('#home-signup-info').show();
  $('#user_first').focus();
  
};

function checkInvite() {
    $.ajax({      
    type: "post",
    url: "/home/check_invite_code",
    data: "user[invite_code]=" + $('#home-signup-invite').val(),
    dataType: 'json',
    success: function(data) {
      if (data.found) {
        enableControls(); 
        if (data.html) {
          $('#home-signup-group').show().html(data.html);
          $('#home-signup-group select').focus();
          set_main_height();
        }
      }
    }
  });   
}; 

$('#home-signup-invite').keyup(function() {
  checkInvite();
});

/* Check on load in case invite_code is pre-filled */
checkInvite();

</script>
