<% @show_footer = true %>

<div id="home-signup" class="gray-background">
  <div class="gray-background">
  	<h1>Sign up</h1>
  	
  	<%= form_for(@user, :url => '/home/create_user') do |f| %>
    	<%= f.error_messages %>
  	
      <div id='home-signup-info' style='display: block'><%# MD Apr-2012 set back to "none" to enable signup code%>
        <p><%= f.label :first %><br />
    	  <%= f.text_field :first %></p>
    	
    	  <p><%= f.label :last  %><br />
    	  <%= f.text_field :last %></p>
    	
    	  <p><%= f.label :email %><br />
    	  <%= f.email_field :email %></p>
    	
    	  <p><%= f.label :password %><br />
    	  <%= f.password_field :password %></p>
    	
    	  <p><%= f.label :password_confirmation %><br />
    	  <%= f.password_field :password_confirmation %></p>
    	  
    	  <p><%= f.label :invite_code, '(If you have an invite code, enter it here)' %><br />
        <%= f.text_field :invite_code, :id => 'home-signup-invite' %></p>
    	
    	  <p>
    	    <input value="Sign up" type="submit" class="gray-button" />
        </p>
      </div>
  	<% end %>
	</div>
</div>
