<!DOCTYPE html>
<html>
  <head>
    <title>RealMealz Mobile</title>
    <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.16.custom.css' %>
    <%= stylesheet_link_tag 'buttons.css' %>    
    <%= stylesheet_link_tag 'realmealz.css' %>
    <%= stylesheet_link_tag 'realmealz-mobile.css' %>

    <%= javascript_include_tag 'jquery-1.6.2.min.js' %>
    <%= javascript_include_tag 'jquery-ujs.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js'%>
    <%= javascript_include_tag 'jquery.jcarousel.min.js' %>
    <%= javascript_include_tag 'touchable.js' %>
    <script src="http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'autocomplete-rails.js' %>
    <%= javascript_include_tag 'highcharts.js' %>
    <%= javascript_include_tag 'rm-highchart-theme.js' %>
    <%= javascript_include_tag 'jquery.mousewheel.js' %>
    <%= javascript_include_tag 'jquery.tinyscrollbar.min.js' %>
    <%= javascript_include_tag 'application.js' %>

    <%= csrf_meta_tag %>
    
    <meta name = "viewport" content = "width = 320">
  </head>
  <body>
    <div id="content" class="content-width">
      <div id="header" class="content-width">
        <div id="realmealz-logo"><a href="/"><img src="/images/realmealz-logo-50px.png" height="50px"></a></div>
        <table id="top2" class="content-width">
          <tr> 
            <td><%= render 'layouts/menu' %></td>
          </tr>
        </table>
        <div id="message-bar" class="content-width">
          <div id="flash-div">
            <% flash.each do |name, msg| %>
              <%= content_tag(:span, msg, {:id => "flash-#{name}", :class => 'flash'}) if msg.is_a?(String) %>
            <% end %>
          </div>
          <%= render 'layouts/welcome' %>
        </div> <!-- message-bar -->
      </div> <!-- header -->
      <% padding_class = (['home', 'discover', 'shop', 'cook', 'learn'].include?(controller.controller_name) ? '' : 'page-padding') %>
      <div id="main" class="content-width main-height <%= padding_class %> ">
        <%= yield %>
      </div> <!-- main -->
      <div id="footer" class="content-width">
        <a href="/home/about_us" target="_blank">About Us</a>&nbsp;|&nbsp;<a href="mailto:questions@realmealz.com">Email Us</a> &nbsp;|&nbsp; 
	  		
  	  </div> <!-- footer -->
    </div> <!-- content -->

  </body>
</html>


