<% @show_footer = true %>
<div id="video-dialog" title="Youtube Video" style="display:none">
   <object width="560" height="315">
    <param name="movie" value="http://www.youtube.com/v/00Tkhc_s4iw" />
    <param name="allowFullScreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <embed src="http://www.youtube.com/v/00Tkhc_s4iw" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="315">
    </embed>
  </object> 
</div>

<table id="learn-table" class="gray-background">
 	<tr> 
		<td id="learn-techniques-column">
			<table id="learn-techniques-table" class="gray-background"> <!-- Techniques table -->
				<tr>
					<td colspan="4"><h1>Techniques</h1>Build your cooking techniques to interact with ingredients in new ways. Level 1 techniques will already help you cook many recipes, in fact, most home cooks flourish with Level 1 and 2 techniques. Most of all, have fun with learning and discovering. <p></td>
				</tr>
				<tr>
					<td class="points-table-title-font">Level 1</td>
					<td class="points-table-title-font">Level 2</td>
					<td class="points-table-title-font">Level 3</td>
					<td class="points-table-title-font">Level 4</td>
				</tr>
				<tr>
					<td>
						<% @techniques1.each do |technique|%>
							<% if technique.video_link != nil %>
							<a class="learnpage-videos" href=<%= technique.video_link %> title= <%= technique.name %> /><%= technique.name %></a>
							<% else %>
								<%= technique.name %>
							<% end %>
							<br>
						<% end %>
					</td>
					<td>
						<% @techniques2.each do |technique|%>
							<% if technique.video_link != nil %>
							<a class="learnpage-videos" href=<%= technique.video_link %> title= <%= technique.name %> /><%= technique.name %></a>
							<% else %>
								<%= technique.name %>
							<% end %>
							<br>
						<% end %>
					</td>
					<td>
						<% @techniques3.each do |technique|%>
							<% if technique.video_link != nil %>
							<a class="learnpage-videos" href=<%= technique.video_link %> title= <%= technique.name %> /><%= technique.name %></a>
							<% else %>
								<%= technique.name %>
							<% end %>
							<br>
						<% end %>
					</td>
					<td>
						<% @techniques4.each do |technique|%>
							<% if technique.video_link != nil %>
							<a class="learnpage-videos" href=<%= technique.video_link %> title= <%= technique.name %> /><%= technique.name %></a>
							<% else %>
								<%= technique.name %>
							<% end %>
							<br>
						<% end %>
					</td>		
				</tr>
			</table>
		</td>
		<td id="learn-ingredients-column">
			<table id="learn-ingredients-table" class="gray-background"> <!-- Ingredients table -->
				<tr>
					<td colspan="4"><h1>Ingredients</h1>Pick up quick tips on prepping ingredients. Try prepping on Sunday night for fast cooking in the week to follow. Learn the nature of ingredients to start improvising and playing in the kitchen. <p></td>
				</tr>
				<tr>
					<td class="points-table-title-font">Level 1</td>
					<td class="points-table-title-font">Level 2</td>
					<td class="points-table-title-font">Level 3</td>
					<td class="points-table-title-font">Level 4</td>

				</tr>
				<tr>
					<td>
						<% @ingredients1.each do |ingredient|%>
							<% if ingredient.video_link != nil %>
							<a class="learnpage-videos" href=<%= ingredient.video_link %> title= <%= ingredient.name %> /><%= ingredient.name %></a>
							<% else %>
								<%= ingredient.name %>
							<% end %>
							<br>
						<% end %>
					</td>
					<td>
						<% @ingredients2.each do |ingredient|%>
							<% if ingredient.video_link != nil %>
							<a class="learnpage-videos" href=<%= ingredient.video_link %> title= <%= ingredient.name %> /><%= ingredient.name %></a>
							<% else %>
								<%= ingredient.name %>
							<% end %>
							<br>
						<% end %>
					</td>
					<td>
						<% @ingredients3.each do |ingredient|%>
							<% if ingredient.video_link != nil %>
								<a class="learnpage-videos" href=<%= ingredient.video_link %> title= <%= ingredient.name %> /><%= ingredient.name %></a>
								<% else %>
									<%= ingredient.name %>
								<% end %>
								<br>
						<% end %>
					</td>
					<td>
						<% @ingredients4.each do |ingredient|%>
							<% if ingredient.video_link != nil %>
							<a class="learnpage-videos" href=<%= ingredient.video_link %> title= <%= ingredient.name %> /><%= ingredient.name %></a>
							<% else %>
								<%= ingredient.name %>
							<% end %>
							<br>
						<% end %>
					</td>				
				</tr>
			</table>			
		</td>
	</tr>
</table>							

<script type="text/javascript">

$('.learnpage-videos').click(function() {
  var title = $(this).attr('title');
  var link = $(this).attr('href');
  var $dialog = $("#video-dialog");
  $dialog.dialog("destroy");
  $dialog.attr('title', title);
  $dialog.find('param[name="movie"]').attr('value', link);
  $dialog.find("embed").attr("src", link);
  $( "#video-dialog" ).dialog({
     width: 600,
     height: 380,
     modal: true
   });;
  return false;
});

</script>

