<% 
if visible 
  display = 'display:block'
else
  display = 'display:none'
end

if show_quantities
  class_name = 'ingredient-list-with-quantities'
else
  class_name = 'ingredient-list-without-quantities'
end  
%>

<ul class="<%=class_name %>" style="<%=display%>">
  <% recipe.ingredients_recipes.each do |ir|; next if ir.nil? %>

    <% if ir.group %>
      <li>
        <%= check_and_add_group_html(ir.name) %>
      </li>
    <% else %>

      <% next if ir.ingredient.nil? %>
      <li><%= check_box_tag(ir.ingredient.name, true, @have_ingredients.include?(ir.ingredient), {'class' => 'ingredient-checkbox', 'ingredient-id' => ir.ingredient.id} ) %>
        <% if show_quantities %>
        <%= ir.name %>
        <% else %>
        <%= ir.ingredient.name %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
