- content_for :head do
  %meta{:property => 'og:title', :content => recipe.name}
  %meta{:property => 'og:type', :content => :food}
  %meta{:property => 'og:image', :content => recipe.picture.url}
  %meta{:property => 'og:site_name', :content => "RealMealz.com"}  

- if show_big
  - size_suffix ='big'
  - ingredient_quantities_visible = true
- else
  - size_suffix = 'small'
  - ingredient_quantities_visible = false

.discover-recipe.main-height.content-width{"recipe-id" => recipe.id, "recipe-name" => CGI.escape(recipe.name)}
  .discover-recipe-background-box.main-height.content-width
    = image_tag(recipe.picture.url(:large), 'recipe-id' => recipe.id, :class => "discover-recipe-background")
    
  %div{:class => "discover-detail-main discover-detail-#{size_suffix}"}
    %img.discover-detail-frame{:alt => "", :src => asset_path('discover-detail-frame.png')}
    %div{:class => "discover-detail-title discover-detail-#{size_suffix}"}
      = render :partial => 'recipes/recipe_title', :locals => {:recipe => recipe, :discover_big => show_big}
    %div{:class => "discover-detail-button discover-detail-#{size_suffix}"}
    %div{:class => "discover-detail-scroll discover-detail-#{size_suffix}"}
      .discover-balance.food-balance{:protein => recipe.food_balance[:protein], 
      :starch => recipe.food_balance[:starch], :vegetable => recipe.food_balance[:vegetable]}
      .discover-button-holder.right
        -if @my_meals_ids.include?(recipe.id)
          .discover-add-text.orange-button.discover-cooknow.discover-minus{"recipe-id" => recipe.id}
            %i.icon-fire.icon-white
            = link_to "Cook This Now", "/cook?recipe_id=#{recipe.id}"
          .remove-meal= "or #{link_to 'remove from My Meals', '#', :class => 'discover-meal-update', 'recipe-id' => recipe.id}".html_safe
        -else
          .discover-add-text.discover-plus.orange-button.discover-meal-update.discover-plus{"recipe-id" => recipe.id}
            %i.icon-plus-sign.icon-white
            Add to My Meals
            

      %p.discover-recipe-intro
        = recipe.intro
      .discover-serves 
        Servings: 
        = recipe.servings  
      .discover-ingredient-columns
        = render(:partial => "ingredient_list",
          :locals => {:recipe => recipe, :show_quantities => false, 
          :visible => !ingredient_quantities_visible})
        = render(:partial => "ingredient_list", 
          :locals => {:recipe => recipe, :show_quantities => true, 
          :visible => ingredient_quantities_visible})
      
      .discover-recipe-prepsteps
        %h2
          %u Prep Instructions
        - recipe.prepsteps_list.each do |p|
          = sanitize(p)
          %br/
      .discover-recipe-cooksteps
        %h2
          %u Cook Instructions
        - recipe.cooksteps_list.each do |c|
          = sanitize(c)
          %br/
    