<h2>New Recipes</h2>
Discover new dishes you can make!  The recipes below are curated to match your food balance goals, using your chosen skill level and ingredients you like.  Add these recipes to your recipe box and Plan-Shop-Cook your way to new flavors!

<% if @recipes.blank? %>
	<p>
	  No recipes.
	</p>
<% else %>

	<table class="table-no-border"><tr>
	<% count = 0 %>	
	<% if mobile_request? 
	     pic_size =:thumbnail 
       width = 100
       height = 100
     else
       pic_size =  :medium
       width = 240
       height = 160
	  end %>
	<% @recipes.each do |recipe| %>
		<td style="text-align: center; vertical-align: top">
			
			<div class="rounded-box-title-green"style="width: 260px; height: 30px; background-color: #5A9735; border=0px; "> 
			  <%= recipe.name %> 
		  </div>
			<div class="rounded-box-green" style="width: 260px; height: 350px;">
				<font size="-1"><%= recipe.intro %></font>
				<table><tr>
					<td style="width:80px;">
						<div id="<%= recipe.id %>" style="width: 100%; height: 80px;" class="food-balance" protein="<%= recipe.food_balance[:protein] %>" veg="<%= recipe.food_balance[:veg] %>" starch="<%= recipe.food_balance[:starch] %>"></div>
	  			</td>
	  			<td><font size="">
				  	Prep: <%= recipe.preptime.to_time %> <br>
		  			Cook: <%= recipe.cooktime.to_time %> 
	  			</font>
	  			</td>
	  			</tr>
	  		</table>
	  		<% class_name = @recipes_active.include?(recipe.id) ? "recipe selected recipe-display" : "recipe recipe-display" %>
        
	  		<%= image_tag(recipe.picture.url(pic_size), 'recipe-id' => recipe.id, :class => class_name, :width => width, :height => height) %> 
				Put Ingredients here...
	  		<%= form_tag("/discover/add_recipe_to_box", :method => "post", :name => "add_recipe_to_box") do %>
	  		<input value="+ Add to Recipe Box" type="submit" class="green-button" recipe_id=<%= recipe.id %>/>
	  		<% end %>
	  	
	  	</div>
			<br/>
    </td>
		<% count += 1; if count >= 3 %>
			<br>
		  </tr><tr>
		  <% count = 0 %>
    <% end %>
	<% end %>		
	</tr></table>
  <%= will_paginate @recipes %>
<% end %>

<%= render :partial => 'recipes/recipe_setup' %>

<script type="text/javascript">
  $(".recipe").click(function() {
   if ($(this).hasClass("selected")) { $(this).removeClass("selected");} else { $(this).addClass("selected"); };
		$.ajax({
		  type: "post",
			url: "/discover/update",
			data: "recipe_id=" + this.getAttribute('recipe_id') + "&value=" + $(this).hasClass("selected"),
		});    
    return false;
  });
  
  //Make the graphs
	$(document).ready(function() {
		var charts = new Array();
		var arr = document.getElementsByClassName("food-balance");

		for (i = 0; i < arr.length; i++) {
			var protein = $(arr[i]).attr("protein"); //document.getElementById(arr[i]);
			var veg = $(arr[i]).attr("veg");
			var starch = $(arr[i]).attr("starch");
			// calls createGraphSmall from application.js 
		  charts[i] = createGraphSmall(protein, veg, starch, arr[i]);
		}
 	});
 	
</script>
   


