<div id="plan-meal-column">
	<h1>My Upcoming Meals</h1> 
	
  <ul id="recipe-meal-list">
    <div id="recipe-drop-box"><br>Drag a Recipe Over Here!</div>
    
    <% @next_recipes.each do |recipe| %>
      <%= render :partial => "layouts/recipe_bar", :locals => {:recipe => recipe} %>
    <% end %>
	</ul>
	<p><%= button_to("+ Add to Shopping List", {:action => "add_courses_to_shopping_list"}, :confirm => "Add ingredients to the shopping list?", :class => "green-button") %></p>
	<div id="plan-trash">
    <%= image_tag('/images/icons/trash_can.png', {:id => "trash-can" }) %>
  </div>
</div>

<div id="plan-recipe-box-column">
	<h1>My Recipe Box</h1> 
  <ul id="recipe-box-list" class="mycarousel-HIDE jcarousel-skin-tango-HIDE">
    <% unless @box_recipes.nil? %>
      <% @box_recipes.each do |recipe| %>
        <%= render :partial => "layouts/recipe_bar", :locals => {:recipe => recipe, :drag_class => 'recipe-box-items'} %>
      <% end %>
    <% end %>
    <p>&nbsp;</p>
  </ul>
</div>

<%= render :partial => 'recipes/recipe_setup' %>

<script type="text/javascript">
	
  $(document).ready(function() {
    $('.mycarousel').jcarousel({
      start: 1,
      vertical: true
    });
    setup_recipe_bar_graphs();
    setup_sortable('#recipe-meal-list', '/plan/add_recipe_to_meals', 'meal_order');
    setup_draggable('.recipe-box-items', '#recipe-meal-list');
    setup_trash("#trash-can", "/plan/remove_recipe_from_meals");
  });
</script>