<% @background_recipe ||= Recipe.random_background_image %>

<div id="session-forgot-password" class='gray-background'>
  <h1>Reset password</h1>

  <%= form_for @user_session, :url => '/user_sessions/forgot_password' do |f| %>

  <% unless flash[:error].nil? %>
    <p><span id='flash-error'><%= flash[:error] %></span></p>
  <% end %>
  <p>Please enter the email address you used to register</p>

  <p><%= f.label :email %><br>
  <%= f.text_field(:email, :size => 30) %></p>

  <p><%= submit_tag "Reset password", :id => "session-reset-password-button", :class => "gray-button" %></p>

  <% end %>
</div>

<script type="text/javascript">

/** Show working indicator and prevent two pushes **/
$("#session-reset-password-button").click(function() {
  if ($(this).hasClass('gray-button-active')) {
    return false;
  } else {
    $(this).val('Sending email...');
    $(this).addClass('gray-button-active');
    return true;
  }
});

</script>