<!DOCTYPE html>
<html>
  <head>
    <title>RealMealz</title>
    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    
    <% if @background_recipe %>
    <% image = @background_recipe.picture.url(:large) %>
     <style type="text/css">
          body {
            background-image: url("<%= image %>"); 
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.<%= image %>', sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= image %>', sizingMethod='scale')";
          }
      </style>
    <% end %>
        
    <meta name = "viewport" content = "width = 1040">
  </head>
  <body>
    <div id="content" class="content-width">
      <div id="header" class="content-width">
        <div id="realmealz-logo">
          <% if current_user.blank? 
              href = '/'
            else
              href = '/home/welcome'
            end %>
          <a href="<%= href %>">
            <%= image_tag 'realmealz-logo-100px.png', :height => "100px" %>
          </a>
        </div>
        <table id="top2" class="content-width">
          <tr> 
            <td><%= render 'layouts/menu' %></td>
          </tr>
        </table>
        <div id="message-bar" class="content-width">
          
          <div id="flash-div">
            <% msg = nil %>
            <% if flash[:error] then msg = flash[:error]; name = 'error' end
               if flash[:notice] then msg = flash[:error]; name = 'notice' end %>
            <% if msg.present?  %>
              <%= content_tag(:span, msg, {:id => "flash-#{name}", :class => 'flash'}) %>
            <% end %>
          </div>

          <%= render 'layouts/welcome' %>
        </div> <!-- message-bar -->
      </div> <!-- header -->
      <% padding_class = (['discover', 'shop', 'cook', 'learn'].include?(controller.controller_name) ? '' : 'class=page-padding') %>
      <div id="main" class="content-width main-height">
        <div  <%= padding_class %>>
          <%= yield %>
        </div>
      </div> <!-- main -->
      
      <% if @show_footer == true %>
        <%= render 'layouts/footer_links' %>
      <% end %>
    </div> <!-- content -->
    
    <div id='busy-indicator'></div>
    		
		<script type="text/javascript">
      set_main_height();
      
      /* Google Analytics  */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22521005-3']);
      _gaq.push(['_setSiteSpeedSampleRate', 10]); /* Bump up speed sample rate from 1% to 10% (the max Google allows) */
      _gaq.push(['_trackPageview']);

      (function() {
       	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

	
		/* CrazyEgg Tracking script */
		setTimeout(function(){var a=document.createElement("script");
		var b=document.getElementsByTagName('script')[0];
		a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/8793.js?"+Math.floor(new Date().getTime()/3600000);
		a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
		</script>

  </body>
</html>


