<!DOCTYPE html>
<html>
  <head>
    <title>RealMealz</title>
    <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.16.custom.css' %>
    <%= stylesheet_link_tag 'jcarousel-skin.css' %>
    <%= stylesheet_link_tag 'buttons.css' %>    
    <%= stylesheet_link_tag "realmealz" %>

    <!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script -->
    <%= javascript_include_tag 'jquery-1.6.2.min.js' %>
    <%= javascript_include_tag 'rails.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js'%>
    <%= javascript_include_tag 'jquery.jcarousel.min.js' %>
    <%= javascript_include_tag 'touchable.js' %>
    <script src="http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'autocomplete-rails.js' %>
    <%= javascript_include_tag 'highcharts.js' %>
    <%= javascript_include_tag 'rm-highchart-theme.js' %>
    <%= javascript_include_tag 'application.js' %>

    <%# = active_scaffold_includes %>
    <%= csrf_meta_tag %>
    
    <meta name = "viewport" content = "width = 1040">
  </head>
  <body>
    <div id="top">
      <table id="top1">
      	<tr>
      	<td>
      	<% if current_user %>
      		<div id="top1-logo" class="logo" onclick = "window.location.href = '/home'" ></div>
      	<% else %>
      		<div id="top1-logo" class="logo" onclick = "window.location.href = '/'" ></div>
      	<% end %>
      	</td>
      	<td>&nbsp;</td>
      	<td><%= render 'layouts/welcome' %></td>
      	</tr>
      </table>
      <table id="top2">
        <tr> 
        	<td>
        	  <% if current_user %>
        			<div id="top2-logo" class="logo" onclick = "window.location.href = '/home'" ></div>
         	  <% else %>
        		  <div id="top2-logo" class="logo" onclick = "window.location.href = '/'" ></div>
      	    <% end %>
      	  </td>
          <td><%= render 'layouts/facebook' %></td>
          <td><%= render 'layouts/menu' %></td>
        </tr>
      </table>
      <table id="message-bar">
        <tr>
          <td id="flash-div">
           <% flash.each do |name, msg| %>
    	       <%= content_tag(:div, msg, {:id => "flash-#{name}", :class => 'flash'}) if msg.is_a?(String) %>
    	     <% end %>
          </td>
          <td class="tab-menu-div">
          	<% if controller.controller_name == "customize" %>
        			<%= render 'layouts/kitchen' %>
        		<% elsif controller.controller_name == "shop" %>
        			<%= render 'layouts/shop'%>
        		<% elsif controller.controller_name == "discover" %>
        			<%= render 'layouts/discover'%>	
        		<% else %>
        			&nbsp;
        		<% end %>
          </td>	
          <td id="admin">
              <% if current_user && current_user.role == 'super_admin' %>
                  <a href="/admin">Admin</a>
              <% else %>
                &nbsp;
              <% end %>
          </td>
        </tr>
      </table>
    </div> <!-- top -->
    <div id="border">
    	
      <div id="container">
        <% if controller.controller_name == "home" %>
          <div id="main-full">
        <% else %>
          <div id="main">
        <% end %>

          <%= yield %>
        </div>
        <!-- main -->
      </div>
      <!-- container -->
    </div>
    <!-- border -->
    <div id="bottom">
      &nbsp;
    </div>
		<div style="height: 12px"></div>
	  <div id="special-footer">
	  	<a href="/home/about_us" target="_blank">About Us</a>&nbsp;|&nbsp;<a href="mailto:questions@realmealz.com">Email Us</a> &nbsp;|&nbsp; 
	  	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/permalink.php?story_fbid=2097317244351&amp;id=1587977301#!/pages/RealMealz/201672796524488" send="false" layout="button_count" width="50" show_faces="false" font="verdana">Share with friends: </fb:like>&nbsp;|&nbsp;
	  	<a href="http://twitter.com/share" class="twitter-share-button" data-url="www.realmealz.com" data-text="I love using RealMealz to plan delicious dinners!  Plan your dinners today for free using:  www.realmealz.com" data-count="none" data-related="realmealz">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>&nbsp;|&nbsp; 
	  	<!-- Google + 1 -->
	  	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {parsetags: 'explicit'}
      </script>
      <g:plusone size="medium" count="false" href="www.realmealz.com"></g:plusone>
      <!-- Place this render call where appropriate -->
      <script type="text/javascript">gapi.plusone.go();</script>&nbsp;| &nbsp;<a href="/home/terms_of_service" target="_blank">Terms of Service</a>&nbsp;|&nbsp;<a href="/home/privacy_policy" target="_blank">Privacy Policy</a>
	  	
	  </div>
    <div style="height: 12px"></div>
    		
    <script language="javascript">

      <%# Google Analytics %>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22521005-3']);
        _gaq.push(['_trackPageview']);

        (function() {
         	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>


