<!DOCTYPE html>
<html>
  <head>
    <title>RealMealz</title>
    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    
    <% if @background_recipe %>
    <% image = @background_recipe.picture.url(:large) %>
     <style type="text/css">
          body {
            background-image: url("<%= image %>"); 
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.<%= image %>', sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= image %>', sizingMethod='scale')";
          }
      </style>
    <% end %>
        
    <meta name = "viewport" content = "width = 1040">
  </head>
  <body>
    <div id="content" class="content-width">
      <div id="header" class="content-width">
        <div id="realmealz-logo">
          <% if current_user.blank? 
              href = '/'
            elsif current_user.created_at.to_date == Date.today
              href = '/home/welcome'
            else
              href = '/discover'
            end %>
          <a href="<%= href %>">
            <%= image_tag 'realmealz-logo-100px.png', :height => "100px" %>
          </a>
        </div>
        <table id="top2" class="content-width">
          <tr> 
            <td><%= render 'layouts/menu' %></td>
          </tr>
        </table>
        <div id="message-bar" class="content-width">
          
          <div id="flash-div">
            <% flash_shown = false; %>
            <% if flash[:notice].is_a?(String); flash_shown = true %>
              <%= content_tag(:span, flash[:notice], {:id => "flash-notice", :class => 'flash'}) %>
            <% end %>  
          </div>

          <%= render 'layouts/welcome' %>
        </div> <!-- message-bar -->
      </div> <!-- header -->
      <% padding_class = (['discover', 'shop', 'cook', 'learn'].include?(controller.controller_name) ? '' : 'class=page-padding') %>
      <div id="main" class="content-width main-height">
        <div  <%= padding_class %>>
          <%= yield %>
        </div>
      </div> <!-- main -->
      
      <% if @show_footer == true %>
        <%= render 'layouts/footer_links' %>
      <% end %>
    </div> <!-- content -->
    		
		<script type="text/javascript">
		
		  /* Make sure #main is as at least high as the window 
		   * However, only resize if the starting height of #main is not already fullHeight
		   * This will make sure we don't resize windows that are already being resized
		  */
		  function set_main_height() {
		    if (resizeMain) {
  		    var fullHeight = full_scroll_height('#main') + 10;
  		    if (initMainHeight < fullHeight) {
            $('#main').height(fullHeight);
          }
        }
		  };
		  $(window).resize(function() {  
		    set_main_height();
      });
      var initMainHeight = $('#main').height();
	    var initFullHeight = full_scroll_height('#main') + 10;
	    //Add a 2px fudge factor
	    var resizeMain = (initMainHeight < initFullHeight - 2) || (initMainHeight > initFullHeight + 2)
      set_main_height();
      
      /* Google Analytics  */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22521005-3']);
      _gaq.push(['_trackPageview']);

      (function() {
       	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

	
		/* CrazyEgg Tracking script */
		setTimeout(function(){var a=document.createElement("script");
		var b=document.getElementsByTagName('script')[0];
		a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/8793.js?"+Math.floor(new Date().getTime()/3600000);
		a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
		</script>

  </body>
</html>


